.fundoLogin {
  background-image: url("https://ik.imagekit.io/id3pm8vmy/musica.jpg?updatedAt=1706011936088");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}